<div class="col-6 offset-3">
  <table class="table table-responsive table-hover">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Année</th>
      <th scope="col">N° licence</th>
    </tr>
    </thead>
    <tbody>

      <tr *ngFor="let registered of allRegistered" class="clickable-row" routerLink="/admin-register-edit">
        <td>{{registered.nom}}</td>
        <td>{{registered.prenom}}</td>
        <td>{{registered.date_naissance}}</td>
        <td>{{registered.num_licence}}</td>
      </tr>

    </tbody>
  </table>
</div>
