<form [formGroup]="registerForm" id="registerForm" class="col-8 offset-2">

  <div class="form-group">
    <label>Nom</label>
    <input type="text" class="form-control" formControlName="nom" maxlength="30">
  </div>

  <div class="form-group">
    <label>Prénom</label>
    <input type="text" class="form-control" formControlName="prenom" maxlength="30">
  </div>

  <div class="form-group">
    <label>Adresse Email</label>
    <input type="email" class="form-control" formControlName="email">
  </div>

  <div class="form-group">
    <label>Mot de passe</label>
    <input type="password" class="form-control" formControlName="password">
  </div>

  <button (click)="send()" type="submit" class="btn btn-success" routerLink="/connect" routerLinkActive="active">Creer un compte</button>

</form>
